<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    {% load compress %}
    {% load static %}
    {% load render_bundle from webpack_loader %}

    <!-- fontawesome & bootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% render_bundle 'boilerplate' 'css' %}
    {% block bundle_css %}{% endblock %}

    <!-- vendors & boilerplate - deferred -->
    {% render_bundle 'vendor' attrs='defer' %}
    {% render_bundle 'boilerplate' 'js' attrs='defer' %}

  </head>
  <body>

    <section>

      <header role="banner" class="bp-header">
        <div id="thin_bar" class="bp-thin-bar"></div>
        <div id="masthead" class="bp-masthead"></div>
      </header>

      <div class="bp-body">
        <div class="bp-container">

          <div id="nav_menu" role="navigation" class="bp-navigation u-slide"></div>

          <main role="main" class="bp-main">
            {% block content %}{% endblock %}
          </main>

        </div>
      </div>

    </section>

  </body>
</html>
