<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    {% load compress %}
    {% load static %}
    {% load render_bundle from webpack_loader %}

    <!-- compressed css and js using django-compressor -->
    {% compress js %}
    {% endcompress %}

    {% compress css inline %}
    <!--<link rel="stylesheet" href="{% static "boilerplate/css/bootstrap-reboot.css" %}" type="text/css">-->
    <link rel="stylesheet" href="{% static "boilerplate/css/main.scss" %}" type="text/x-scss">
    {% endcompress %}

    <!-- fontawesome svg -->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous" defer></script>

    <!-- load bundled vendor files using webpack loader -->
    {% render_bundle 'boilerplate' attrs='defer' %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>

    <section>

      <header role="banner" class="bp-header">
        <div class="bp-thin-bar">
          <div class="bp-container">
            <div class="bp-user"><i class="fas fa-user"></i>&nbsp;&nbsp;charlon</div>
            <div class="bp-links">
              <ul>
                <li>MyUW</li>
                <li>UW.edu</li>
                <li><i class="fas fa-question-circle"></i>&nbsp;Help</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="bp-masthead">
          <div class="bp-container bp-logo" style="background-image: url({% static "boilerplate/img/w-logo-white.png" %})">

            <div class="bp-title-mobile">
              <button class="bp-title-button" id="nav_button">
                <span class="fa-stack fa-2x bp-title-button-icon" aria-hidden="true">
                  <i class="far fa-square fa-stack-2x"></i>
                  <i class="fa fa-bars fa-stack-1x"></i>
                </span>
              </button>
              <span>MyPlan</span>
            </div>

            <div class="bp-title-desktop">MyPlan</div>

          </div>
        </div>
      </header>

      <div class="bp-body">
        <div class="bp-container">

          <div id="nav_menu" role="navigation" class="bp-navigation u-slide">
            <ul>
              <li><a href="#" class="u-active"><i class="fas fa-home"></i> Home</a></li>
              <li><a href="#"><i class="fas fa-chalkboard-teacher"></i> Courses</a></li>
              <li><a href="#"><i class="fas fa-school"></i> Programs</a></li>
              <li><a href="#"><i class="fas fa-graduation-cap"></i> Degree Audit</a></li>
            </ul>
            <ul>
              <li><a href="#"><i class="fas fa-shopping-basket"></i> Registration</a></li>
              <li><a href="#"><i class="fas fa-bookmark"></i> Bookmarks</a></li>
            </ul>
            </ul>
          </div>

          <main role="main" class="bp-main">
            <div class="bp-bootstrap">
            {% block content %}{% endblock %}
            </div>
          </main>

        </div>
      </div>

    </section>

  </body>
</html>
