<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    {% load compress %}
    {% load static %}
    {% load render_bundle from webpack_loader %}

    <!-- compressed css and js using django-compressor -->
    {% compress js %}
    {% endcompress %}

    {% compress css inline %}
    <link rel="stylesheet" href="{% static "boilerplate/css/bootstrap-reboot.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "boilerplate/css/main.scss" %}" type="text/x-scss">
    {% endcompress %}

    <!-- load bundled vendor files using webpack loader -->
    {% render_bundle 'boilerplate' attrs='defer' %}

  </head>
  <body>

    <section>

      <header role="banner" class="bp-header">
        <div class="bp-thin-bar">
          <div class="bp-wrapper">
            <div class="bp-user">dsakjf</div>
            <div class="bp-search-links">dsakjf askdflj laskdjf </div>
          </div>
        </div>

        <div class="bp-navigation">
          <div class="bp-wrapper bp-logo" style="background-image: url({% static "boilerplate/img/w-logo-white.png" %})">

            <div class="bp-title-mobile">
              <button>xxx</button>
              <span>MyPlan</span>
            </div>

            <div class="bp-title-desktop">MyPlan</div>

          </div>
        </div>
      </header>


      <main role="main" class="bp-main">
        <div class="bp-wrapper">
        {% block content %}{% endblock %}
        </div>
      </main>

    </section>

  </body>
</html>
