{% extends "boilerplate/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="bp-ticker">

  <p>this is the ticker container... create a custom ticker component fore reusability.</p>

  <div style="border:solid 1px black; width:150px; padding:16px; font-size:11px; display:inline-block; margin-right:8px;">
    make a tickker component
  </div>
  <div style="border:solid 1px black; width:150px; padding:16px; font-size:11px; display:inline-block; margin-right:8px;">
    make a tickker component
  </div>

</div>

<!-- js framework components are rendered here via webpack_loader -->
<div class="bp-components">

  <p>Components (React/Vue) should only be implemented in the "bp-components" container.
    Using Webpack - you have the ability to use any Javascript framework you choose.
    Regardless of the framework, you should always be rendering Bootstrap (styled) components.</p>

  <div style="border:solid 1px black; width:300px; padding:32px;">
    make a card component
  </div>

</div>
{% endblock %}
