.card { width: 300px; }

.myuw-ticker {

  background: #ddd;
  margin-bottom: 16px;

  .myuw-ticker-left {
    outline: solid 1px yellow;
    display: inline-block;
    width: 25%;
  }

  .myuw-ticker-right {
    outline: solid 1px lime;
    display: inline-block;
    width: 75%;
    text-align: right;
  }
}
