@import '../common/mixins.scss';
@import '../common/variables.scss';

.card { width: 300px; margin-right: 8px; margin-bottom: 8px; }

.myuw-ticker {

  margin-bottom: 16px;

  .myuw-ticker-left {
    display: inline-block;
    width: 25%;
  }

  .myuw-ticker-right {
    display: inline-block;
    width: 75%;
    text-align: right;
  }

  .myuw-ticker-card {
    font-size: 10px;
    width: 100px;
    display: inline-block;
    border-left: solid 1px #aaa;
    text-align: left;
    padding-left: 8px;
  }

}


.myuw-home { outline: dashed 1px red;

  @include breakpoint(desktop) {
    max-width: calc(100vw - 248px);
  }

  @include breakpoint(largedesktop) {
  max-width: 952px;
  }

}
